*{
    padding: none;
    margin: none;
}
body{
    font-family: Aktiv Grotesk,-apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
    height: 102.3% !important;
}
#subti_Ventas{
    color:rgb(184, 185, 186) ;
}
#titulo_venta{
    font-size: 24px;
    color: rgb(55, 72, 89);
}
#bc{
    border-bottom:2px solid rgb(163, 159, 159);
    padding: 8px;
    font-size: 20px;
    margin-left: 200px;
}
#divPrincipal{
    height: 100%;
    width: 100%;
    
}

#divMenu{
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
}

#divContent{
    background-color:rgb(250, 250, 250); 
}
#divMenuF1{
    display: flex;
    align-items: center;
}
#imgcara_icon{
    margin-top: 18px;
    margin-left: -15%;
    color: rgb(73, 68, 68);
    font-size: 14px;
}
#micon{
    font-size: 20px;
}
#divMenuF1 img{
    height: 60px;
    margin-top: 20px;
    margin-left: 60px;
}

#divMenuF2{
    margin-top: 200px;
    padding-left: 30px;
    font-size: 18px;
}

#divContentHeader{
    display: flex;
    align-items: center;
}

#divContentHeader .input{
    margin-left: 40px;
}

#imgLogo{
    height: 22px;
    margin: 40px;
    margin-left: auto;
}

#divContentTitulo{
    margin-top: 18px;
    display: flex;
    align-items: center;
}

#divContentTitulo button{
    margin-left: auto;
    margin-right: 40px;
    background-color:rgb(212, 4, 76);
    color: white;
    width: 180px;
}

#divContentTitulo .letras{
    margin-left: 40px;
}

#divContentTitulo .letras h1{
    margin-bottom: 2px;
}




#tabla{
    margin: auto;
    margin-top: 50px;
}


table{
    background-color:white;
    border-bottom: solid 5px rgb(255, 255, 255);
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
    padding: 7px;
}

tr{
    border-bottom: solid 20px rgb(250, 250, 250);

}

thead{
	background-color: rgb(250, 250, 250);
	color: rgb(145, 139, 139);
}

tr:nth-child(even){
	background-color: white;
}

.boton {
    background-color: white; 
    border: none;
    color: rgb(0, 131, 242);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    outline:0px;
}
#atras{
    background-color: white; 
    border: none;
    color: rgb(181, 183, 185);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    outline:0px;
    margin-left:550px;
}
#tabla img{
    height: 40px;
    width: auto;
    
}
input[type=date]:required:invalid::-webkit-datetime-edit {
    color: grey;
}

#cantidad{
    width: 100px;
    text-align: center !important;
    border: 0px !important;
}
#cantidad1{
    justify-content: center;
    text-align: center;
    display:flex !important;
}
.mas-menos{
    margin-top: 5px ;
}

.can{
    text-align: center !important;
    width: 31% !important;
}
.escan{
    margin-bottom: 20px !important;
}
.xv2{
    font-size: 15px !important;
    margin-bottom: 15px !important;
    margin-left: 17px !important;
}

.circle:hover{
    cursor: pointer;
    transform:scale(1.25);
}

.x{
    align-self: flex-end;
    width: 30px !important;
}
.header-menu{
    width: 100%;
    height: 90px;
    position: fixed;
    top:0;left: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu{
    float:left;
    line-height: 70px;
}
#bar{
    color:grey;
    font-size: 25px;
    cursor: pointer;
}
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f ;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
#x{
    color: #fff;
    font-size: 14px;
}
@media screen and (max-width: 1320px){
    #divMenu{
        display: none;
    }
    #divContent{
        width: 100%;   

        margin: 60px auto;     
    }

}
@media screen and (max-width: 4000px){
    .content-all{
        display: none;
    }
}
